{% extends "appFinal/base.html" %}

{% block contenidoQueCambia %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h1>Sobre mi</h1>
    <br>
    <p>
    Hola yo soy Marcos Capponi, estoy en busqueda de ser un programador de datos, quiero estudiaar, aprender, porfesionalizarme lo mas que pueda y dedicarme a este universo de los datos. Tengo conocimientos en SQL, analisis de datos, ciencia de datos, tambien tengo estudios en marketing digitaly ahora aprendiendo python. Por otro lado tambien estudie desarrollo Full stack por lo que conozco los lenguajes java script, html, css entre otras librerias y frameworks.
    Tambien por otro lado fuera de la programacion, soy guardavidas, profesor de natacion y me gusta viajar y trabajar en otros paises como por ejemplo, Estados Unidos, Espania y Suiza.
    </p>

                       
</body>
</html>

{% endblock %}